
/* Grid https://css-tricks.com/snippets/css/complete-guide-grid/ */
/* BEM+ https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/ */

/* grid routine: first grid-CSS for this item, then container grid-CSS for next div */


:root {
	/* Theme suggestions: http://www.color-hex.com/color-palette/56551 http://www.color-hex.com/color-palette/56837 http://www.color-hex.com/color-palette/55874 */
	--color1: #fff; /* main theme text color. Old tries: #FFFFF6; #fefef5; #eeeeee; */
	--color2: #c94646; /* #cc0000; #970203*/
	--font:  'Quicksand', sans-serif; /* previously Quicksand, Atma, Cormorant, Arvo but a bit too much like comic sans and doesn't send a professional feel, even though I like it tacky for the site - needs link update in html*/
	--expandHeight: 0px; /* used for dynamically expanding divs, values changed by JS */
	--collapseHeight: 0px; /* used for dynamically collapsing divs, values changed by JS */
	--quickReveal: 0.7s; /* used for transitions and animations */
	--slowReveal: 1.4s; /* used for transitions and animations */
	--headline: 'Amaranth', sans-serif;
	--seethroughTeint: rgba(0,0,0,0.4); /* used in .main, line ca. 460 - and about-button line 192 */
}
/*Example of use = something: var(--slowReveal); */

/* hide scrollbar */
::-webkit-scrollbar { 
    display: none; 
}


					/* ===== ELEMENTS ===== */

body {
	/* turn body into a grid for margins etc. */
	display: grid;
	/*
	grid-template-columns: minmax(35px, 2fr) minmax(8fr, 1024) minmax(35px, 2fr);
	*/
	grid-template-columns: 2fr 8fr 2fr;
	
	grid-template-rows: auto auto auto;
	grid-gap: 20px;
	
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: var(--font);
	
	-background-image: url(http://mvravn.dk/dice75.jpg); 
	background-image: url(http://mvravn.dk/blank_page_by_mike_tinnion.jpg);
	-background-image: url(http://mvravn.dk/bp2000.jpg);
	-background-position: center center;
	-background-position: 5% 50%; 
	background-position : calc(100% + 0px) calc(25% - 10px);
	
	-background: red; 
	background-size: cover;
	background-attachment: fixed;
	
	color: var(--color1);
	font-size: 16px; 
}

a {
	/* default color of links */
	color: var(--color1);
}

a:visited {
	/* keeps default color on links that has been visited */
	color: var(--color1);
}

a:hover {
	/* color-change on hover, plus changes cursor */
	color: red;
	transition: color 1s;
	cursor: pointer;
}

pre {
	/* styling for the super basic pre element */
	color: black;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	margin: 0 auto; /* this property is needed for this super old-school element */
}

button {
	/* makes all buttons equal */
	width: 150px;
	height: 60px;
	color: black;
	-font-weight: bold;
	border-radius: 10px;
	border-color: var(--color1);
	transition: background-color var(--quickReveal), border-color var(--quickReveal), font-size var(--quickReveal);
	background-color: var(--color1);
	outline: none;
	margin: 0 auto;
	font-family: var(--headline);
	margin-top: 20px;
	margin-bottom: 40px;
	z-index: 1;
	-font-size: 85%;
}

button:hover {
	/* makes all buttons equal, too */
	background-color: var(--color2);
	border-color: var(--color2);
	cursor: pointer;
	font-size: 92%;
	transition: font-size var(--quickReveal), background-color var(--quickReveal), border-color var(--quickReveal);
}

p {
	line-height: 140%;
}

h1 {
	/* Centers the title and gives it a size */
	font-size: 24px;
	text-align: center;
	font-family: var(--headline);
}

h2 {
	/* For each "step", otherwise the same as h3 */
	font-size: larger;
	font-family: var(--headline);
}

h3 {
	/* For each "step", otherwise the same as "big" */
	font-size: larger;
	font-family: var(--headline);
}

h4 {
	/* Just for second headline */
	font-size: 16px;
	font-style: italic;
	text-align: center;
	font-family: var(--headline);
}
/*
big {
	font-size: larger;
	font-family: var(--headline);
}
*/
li {
	margin: 10px 0;
}










						/* ===== IDs IN CHRONOLOGICAL ORDER ===== */
	/* Used for grid placement purposes and individual placement adjustments with margins and padding */
						/* Most have been filled in, whether used or not */
						/* ============================================= */
						
#main__0 {
	/* holds the first batch of divs */
	grid-row-start: 1;
}
					
#headline {
	/* holds the title */
	grid-column-start: 2;
	grid-row-start: 2;	
}

#version {
	/* holds the version text */
	text-align: center; 
	font-size: 70%;
	font-style: italic;
	padding-bottom: 10px;
}

#about__button {
	/* button for showing the about info */
	grid-column-start: 3;
	grid-row-start: 1;
	justify-self: center;
	
	border-radius: 50%;
	border-style: ridge;
	border-color: #FFFFF6;
	width: 100px;
	height: 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	transition: color var(--quickReveal);
	-font-size: 550%;
	font-size: 480%;
	font-family: var(--headline);
}

#about__button p {
	
	}

@media screen and (max-width: 800px) {
	/* just softens the worst offenders on mobile */
	#about__button {
		grid-column-start: 2;
		grid-row-start: 1;
		justify-self: right;
		z-index: 2;
		margin: 8px;
		width: 70px;
		height: 70px;
		font-size: 400%;
	}
	
	body {
		grid-template-columns: 3px 8fr 3px;
		background-image: none !important;
		background-size: none;
		background-attachment: none;
		background: black;
	}
	
	.main__0, .main__1, .main__2, .main__3 {
		margin: 0px;
		padding 10px;
	}
}

#about__button:hover {
	color: var(--color2);
	transition: color var(--quickReveal);
	cursor: pointer;
}

.main__3 {
	/* holds the about text */
	grid-column: 1/-1;
	grid-row: 1/-1;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10%;
	margin-left: 10%;
	
	padding: 100px;
	background: rgba(0, 0, 0, 0.75);
	border-style: ridge;
	border-radius: 10px;
	border-color: #FFFFF6;
	z-index: 1;
}

@media screen and (max-width: 800px) {
	/* just softens the worst offenders on mobile */
	#about__button {
		grid-column-start: 2;
		grid-row-start: 1;
		justify-self: right;
		z-index: 2;
		margin: 8px;
		width: 70px;
		height: 70px;
		font-size: 400%;
	}
	
	body {
		grid-template-columns: 3px 8fr 3px;
	}
	
	.main__0, .main__1, .main__2, .main__3 {
		margin: 10%;
		padding: 20px;
	}
}

#about__element {
	z-index: 2;
	background: rgba(0,0,0,0.9);
}

#button__slot__one {
	/* holds the buttons over table__0 (the upper table with Ability Scores etc.) */
	
}

#criteria {
	/* holds the up-front criteria list */
	
}

#button__slot__two {
	/* holds the button opening for additional info */
	
}

#info {
	/* holds the long list with info */
	grid-column-start: 2;
	grid-row-start: 4;
}

#AST {
	/* Ability Score Total */
	
}

#MT {
	/* Modifier Total */
	
}

#plan {
	/* holds the text about planning for a class */
	grid-column-start: 2;
	grid-row-start: 5;
}

#ghost__0 {
	/* holds the text about planning for a class */
	grid-column-start: 2;
	grid-row-start: 4;
}

#ghost {
	/* holds invisible div for measuring heights for dynamic animations */
	grid-column-start: 2;
	grid-row-start: 2;
}

#main__1 {
	/* holds the second batch of divs */
	grid-row-start: 2;
}

#main__2 {
	/* holds the second batch of divs */
	grid-row-start: 3;
}

#copy {
	/* holds the super raw text for copying */
	grid-column: 1/4;
	grid-row-start: 1;
}

#pre__i {
	/* holds the super raw text for copying */
	grid-column-start: 2;
	grid-row-start: 2;
	background: white;
	border-radius: 10px;
}

#pre__c {
	grid-column-start: 2;
	grid-row-start: 2;
}

#thanks {
	/* holds the super raw text for copying */
	grid-column: 1/4;
	grid-row-start: 3;
	padding-top: 40px;
}

#pick {
	/* holds the advice about picking a race */
	grid-column-start: 2;
	grid-row-start: 3;
}

#pickToggle {
	/* allows for hiding and expanding part of the Pick Race text */
	
}

#table__1 {
	/* holds the list for picking a race */
	grid-column-start: 2;
	grid-row-start: 4;
	
}

#button__slot__three {
	/* holds the button validating the race choice */
	
}

#race__list {
	/* holds the list for picking a race */
	
}

#copy {
	/* holds the text about copying the sheet */
	
}

#last_comment {
	/* holds the text and links to Reddit and Amazon */
	
}









					/* ===== CLASSES ===== */

.item--hidden {
	/* hides a grid item */
	opacity: 0.0;
	transition:  opacity var(--slowReveal); 
}

.item--gone {
	/* removes a grid item */
	display: none !important; /* only way I know to let this class override the grid class display: grid; */
}

.item--reveal {
	/* hides a grid item */
	opacity: 1.0;
	transition:  opacity var(--slowReveal); 
}

/* used in the .item--expand */
@keyframes expand {
		0% {height: 0px;}
		100% {height: var(--expandHeight);}
	}

/* used in the .item--collapse */
@keyframes collapse {
		0% {height: var(--collapseHeight);}
		100% {height: 0px;}
	}

.item--collapse {
	/* collapses a div */
	animation-name: collapse;
	animation-duration: var(--quickReveal);
	animation-fill-mode: forwards;
}
	
.item--expand {
	/* expands a div dynamically, independent of browser window width */
	opacity: 0;
	animation-name: expand;
	animation-duration: var(--quickReveal);
}
					
.main {
	/* makes main divs with borders for a nice frame of user focus */
	grid-column-start: 2;
	background: var(--seethroughTeint);
	border-style: ridge;
	border-radius: 10px;
	border-color: #FFFFF6;
	box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.4);
	
	/* grid-properties of content */
	display: grid;
	grid-template-columns: minmax(auto, 62px) 4fr minmax(auto, 62px);
	grid-template-rows: 62px auto auto auto auto auto 62px;
	
}

.text {
	/* the default divs that holds content within the bordered .main div */
	display:grid;
}

.pre__container {
	/* Places the Pre element in a sensible fashion */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.pre__item {
	/* Places the Pre element in a sensible fashion - some properties held in the ID #pre__i for specificity purposes */
	border-radius: 10px;
}

.button--hidden {
	/* Hides the button, but keeps it's place reserved */
	visibility: hidden;
}

.button--gone {
	/* Button isn't there anymore */
	display: none;
}

.table__0__holder {
	/* pushes the Ability Score grid a bit to the right, so it looks centered around the Modifiers, despite being off center holding the invisible checkboxes. Fractions are awesome */
	grid-column-start: 2;
	grid-row-start: 3;
	
	/* grid-properties of content */
	display: grid;
	grid-template-columns: 3fr 6fr 1fr;
	grid-template-rows: 1fr 6fr auto;
	grid-row-gap: 10px;
}

.table__0 {
	/* makes a table by an internal grid */
	grid-column-start: 2;
	grid-row-start: 2;
	
	/* grid-properties of content */
	display: grid;
	grid-template-columns: repeat(3, 4fr) minmax(5px, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 5px;
}

.table__1 {
	/* makes another table by an internal grid - this one for races */
	display: grid;
	grid-template-columns: 1fr 8fr 4fr 4fr 28fr;
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 5px;
	}

.data.table__row__0 {
	/* top row in table__0 holding headings for the columns */
	justify-self: stretch; /* other justify's mis-handle when rotated */
	transform: rotate(-45deg);
	transform-origin: 0%; /* lets the row rotate on it's left corner */
}

.data {
	/* each data field in the table */
	color: var(--color1);
	justify-self: stretch;
}

.data--hidden {
	/* data fields being held back, also holds two extra elements via span for the Totals */
	color: rgba(0, 0, 0, 0.0);
	transition: color var(--slowReveal);
}

.table__column__3 {
	align-self: center;
}

.data--reveal {
	/* data fields to be revealed, also holds two extra elements via span for the Totals */
	color: var(--color1);
}

@keyframes numberSlide {
	/* makes numbers slide in */
	from {
		transform: rotateY(89deg); /* rotate 90deg bugged out Edge and Firefox */
	}
	
	to {
		transform: rotateY(0deg);
	}
}

.data--reveal--slide {
	/* data fields to be revealed, also holds two extra elements via span for the Totals var(--slowReveal) cubic-bezier(0.57, 1.28, 0.58, 1)*/
	animation: numberSlide 1.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	perspective: 100px;
	/*perspective: 100px; -- not needed, comment kept for review purposes */
}

.data__1 {
	/* each data field in the table for races */
	color: var(--color1);
}

.data__1--hidden {
	/* hides data fields in the table for races */
	color: rgba(0, 0, 0, 0.0);
	opacity: 0;
	transition: color var(--slowReveal), opacity var(--slowReveal);
}

.checkbox {
	/* checkboxes in the character table */
	opacity: 1;
	transition: opacity var(--slowReveal);
}

.checkbox:hover {
	/* a change of cursor when hovering over a checkbox */
	cursor: copy;
}

.checkbox--hidden {
	/* hides checkboxes in the character table */
	opacity: 0;
}

.ghost {
	/* hides divs for measuring heights for animations color: rgba(0, 0, 0, 0.0);*/
	opacity: 0;
}

